.header {
    height: 468px;
    width: 100%;

    /*&__logo {
        position: relative;
        left: -19px;
        //transform: skewX(-25deg);
        width: 248px;
        height: 84px;
        background-color: #fff;
        background: url(../images/logo.png) right 20px center/70% no-repeat, #fff;
    }*/
}

