.navigation {
    height: 84px;
    width: 100%;
    background-color: #0E2238;
    //transform: skewX(-25deg);background-color: #fff;
    //background: url(../images/logo.png) left 20px center/230px 60px no-repeat, #fff;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    height: calc(92vw / 15);
    

    &__links {
        position: relative;
        height: 100%;
        display: flex;
        justify-content: center;
        list-style: none;
        background: #0E2238;
        //width: 60%;
        transform: skewX(-20deg);
        right: -16px;
        margin: auto;
        flex-grow: 1;
    }

    &__item {
        margin-top: auto;
        margin-bottom: auto;
       // margin-right: auto;
        transform: skewX(20deg);

        & + & {
            margin-left: calc(10vw/5);
        }
        &--popup {
            position: relative;
            &::after {
                background: url(../images/icons/popup-down.png);
                width: 10px;
                height: 5px;
                display: block;
                background-position: center;
                background-size: contain;
                position: absolute;
            }
        }
    }

    &__button {
        position: relative;
        //padding: 33px 46px;
        text-align: center;
        padding-top: auto;
        padding-bottom: auto;
        background: #EB202E;
        color: #fff;
        font-style: normal;
        font-weight: bold;
        line-height: 17px;
        width: 20%;
        width: calc(292vw / 15);
        margin-right: calc(-32vw / 15);
        max-width: 306px;
        transform: skewX(-20deg);
        height: 100%;
        right: calc(0px + 10vw / 10);
        white-space: nowrap;

        &-text {
            position: absolute;
            //display: inline-block;
            transform: skewX(20deg);
            width: calc(182vw / 15);
            //left: calc(44vw / 15);
            //left: calc(44vw / 45);
            right: calc(10vw / 5);
            line-height: 0;
            top: calc(46vw / 15);
            font-family: "gb";
            font-size: calc(15vw / 15);
            z-index: 2;
        }

        &::before {
            position: absolute;
            content: "";
            width: 0px;
            height: 100%;
            background: linear-gradient(270deg, #FFFFFF -0.99%, rgba(255, 255, 255, 0) 101.87%);
            top: 0;
            left: auto;
            right: auto;
            z-index: -1;
            -webkit-transition: all 300ms ease;
            -o-transition: all 300ms ease;
            transition: all 300ms ease;
            animation: line 7s infinite;
            animation-timing-function: ease;
            animation-timing-function: ease-out;
        }

        &:hover {
            &::before {
                animation: influx 1s forwards;
                
                background: #fff;
                left:0;         
            }
            &> .navigation__button-text {
                transition: .5s;
                color: #EB202E;
            }
        }
    }
}


@keyframes line {
    0% {
        right: calc(100% - 20px);
        width: 20px;
      }
      14%, 100% {
        right: -20px;
        width: 20px;
      }



}

@keyframes influx {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}